VITE_LETTERS_URL=https://drive.google.com/file/d/1h5j_jp_8U14_l1d4pOUEmL3en19UQY4U/view
VITE_NAMES_URL=https://drive.google.com/file/d/1FnVX4aGPSHYiXUp8Zn3QbTdZkhPlClq9/view
VITE_CATEGORIES_URL=https://drive.google.com/file/d/1fSm8XBBfV3lcCjNzYEbXA_orrljbA-YU/view
